In [1]:
import pandas as pd

In [2]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

#melb_data.loc[15, 'Price']
#melb_data.loc[90, 'Date']
#melb_data.iloc[0, 2:4]
#round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'], 0)

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# Данные о скольких студентах содержатся в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [16]:
# Каков балл по письму у студента под индексом 155?
student_data.iloc[155]['writing score']

88

In [17]:
# Каков у студентов средний балл по математике?
student_data['math score'].mean()

66.089

In [19]:
# Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].describe()
#student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [22]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
prepaired_mask = student_data['test preparation course'] == 'completed'
student_data[prepaired_mask]['reading score'].mean()

73.89385474860335

In [24]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [32]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
well_fed_students = student_data['lunch'] == 'standard'
reduced_fed_students = student_data['lunch'] == 'free/reduced'

student_data[well_fed_students]['math score'].mean() > student_data[reduced_fed_students]['math score'].mean()
print(student_data[well_fed_students]['math score'].mean())
print(student_data[reduced_fed_students]['math score'].mean())

70.03410852713178
58.92112676056338

In [35]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
std_bd_count = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]

round(std_bd_count / student_data.shape[0] * 100, 0)

12.0

In [39]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
round(abs(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()), 0)

6.0