In [2]:
import pandas as pd

In [3]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

#melb_data.loc[15, 'Price']
#melb_data.loc[90, 'Date']
#melb_data.iloc[0, 2:4]
#round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'], 0)

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
student_data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
student_data.shape

(1000, 8)

In [5]:
# Данные о скольких студентах содержатся в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [7]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [9]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [10]:
student_data['race/ethnicity'].value_counts(normalize=True)

group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: race/ethnicity, dtype: float64

In [16]:
# Каков балл по письму у студента под индексом 155?
student_data.iloc[155]['writing score']

88

In [11]:
# Каков у студентов средний балл по математике?
round(student_data['math score'].mean(), 0)

66.0

In [8]:
# Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].describe()
#student_data['race/ethnicity'].mode()

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

In [12]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
prepaired_mask = student_data['test preparation course'] == 'completed'
round(student_data[prepaired_mask]['reading score'].mean(), 0)

74.0

In [13]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [14]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
well_fed_students = student_data['lunch'] == 'standard'
reduced_fed_students = student_data['lunch'] == 'free/reduced'

student_data[well_fed_students]['math score'].mean() > student_data[reduced_fed_students]['math score'].mean()
print(student_data[well_fed_students]['math score'].mean())
print(student_data[reduced_fed_students]['math score'].mean())

70.03410852713178
58.92112676056338

In [15]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
std_bd_count = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]

round(std_bd_count / student_data.shape[0] * 100, 0)

12.0

In [39]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
round(abs(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()), 0)

6.0